# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.env.*

# ===============================
# Node / MongoDB
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# VS Code / IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Database / Logs
# ===============================
*.log
*.db
*.sqlite
*.sqlite3

# ===============================
# Temporary / Backup Files
# ===============================
*.tmp
*.bak
*.swp
*.old

# ===============================
# Large / Compressed Files
# ===============================
*.zip
*.tar
*.gz

# ===============================
# Ignore credentials / secrets
# ===============================
*.pem
*.key
*.crt
